:root {
  --primary-color-first: #ffffff;
  --primary-color-second: #2b7fff;
  --primary-color-third: #011c44;
  --secondary-color-first: #4a4a4a;
  --secondary-color-second: #747272;
  --secondary-color-third: #011f4a;
  --secondary-color-fourth: #ffd02b;
}

$bp-mobile: 480px;
$bp-tablet: 768px;
$bp-desktop: 1280px;
