.for-background {
  position: absolute;
  bottom: 134px;
  width: 1440px;
  height: 2660px;
  left: 50%;
  transform: translateX(-50%);
  background: url(../images/procedure-background.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 auto;

  @media screen and (min-width: $bp-tablet) {
    position: absolute;
    bottom: 114px;
    width: 1440px;
    height: 2660px;
    left: 50%;
    transform: translateX(-50%);
    background: url(../images/procedure-background.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 auto;
  }

  @media screen and (min-width: $bp-desktop) {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 1440px;
    height: 2660px;
    background: url(../images/procedure-background.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 auto;
  }
}
