.for-background {
  position: absolute;
  width: 1440px;
  height: 2660px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, calc(-50% - 334px));
  background: url(../images/procedure-background.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 auto;
  z-index: -10;

  @media screen and (min-width: $bp-tablet) {
    transform: translate(-50%, calc(-50% - 326px));
  }

  @media screen and (min-width: $bp-desktop) {
    transform: translate(-50%, calc(-50% - 162px));
  }
}
