.star-first {
  display: none;

  @media screen and (min-width: $bp-desktop) {
    display: block;
    position: absolute;
    fill: var(--secondary-color-third);
    bottom: 285px;
    right: 303px;
    animation-name: spin;
    animation-duration: 4s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
  }
}

.star-second {
  display: none;

  @media screen and (min-width: $bp-desktop) {
    display: block;
    position: absolute;
    fill: var(--primary-color-second);
    top: 33px;
    left: 440px;
    animation-name: spin;
    animation-duration: 5s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
  }
}

.star-third {
  display: none;

  @media screen and (min-width: $bp-desktop) {
    display: block;
    position: absolute;
    fill: var(--secondary-color-second);
    top: 270px;
    right: 5px;
    animation-name: spin;
    animation-duration: 4s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0);
  }

  30% {
    transform: rotate(90deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
