.footer {
  background-color: var(--primary-color-third);
  background-image: url(../images/footer-background.png);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;

  & .link {
    color: var(--primary-color-first);
    font-size: 16px;
    transition: color 0.3s;
    &:hover {
      color: var(--primary-color-second);
    }
  }

  &__container {
    position: relative;
    padding: 32px 90px;
    display: flex;
    flex-direction: column;
    gap: 16px;

    @media screen and (min-width: $bp-desktop) {
      padding: 56px 0;
      flex-direction: row;
      justify-content: space-between;
      gap: 20px;
    }
  }

  &__nav {
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;

    @media screen and (min-width: $bp-desktop) {
      align-items: flex-start;
      flex-direction: row;
      gap: 20px;
    }
  }

  &__logo {
    flex-basis: 50%;
  }

  &__nav-list {
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    gap: 16px;
    text-align: center;
    font-size: 14px;

    @media screen and (min-width: $bp-desktop) {
      text-align: left;
      font-size: 16px;
    }
  }

  &__address {
    flex-basis: 50%;
    display: flex;
    flex-direction: column-reverse;
    gap: 16px;
    align-items: center;

    @media screen and (min-width: $bp-desktop) {
      flex-direction: row;
      gap: 20px;
      align-items: flex-start;
    }
  }

  &__address-link {
    flex-basis: 50%;
  }

  &__address-item {
    display: none;

    @media screen and (min-width: $bp-desktop) {
      display: block;
      margin-bottom: 16px;
    }
  }

  &__address-social {
    display: flex;
    gap: 24px;
  }

  &__social {
    fill: var(--primary-color-first);
    transition: fill 0.3s;
    &:hover {
      fill: var(--primary-color-second);
    }
  }

  &__address-info {
    flex-basis: 50%;
    font-size: 14px;

    @media screen and (min-width: $bp-desktop) {
      font-size: 16px;
    }
  }

  &__background {
    display: none;

    @media screen and (min-width: $bp-desktop) {
      display: block;
      position: absolute;
      bottom: 0;
      right: -100px;
    }
  }
}

.copyright.copyright-desktop {
  display: none;

  @media screen and (min-width: $bp-desktop) {
    display: block;
  }
}

.copyright.copyright-tablet {
  margin: 0;
  font-size: 12px;
  line-height: 1.5;

  @media screen and (min-width: $bp-desktop) {
    display: none;
  }
}
